
div{
    width:200px;
    height: 200px;
    background-color: aqua;
    border: solid black 2px;
}

/* media quieries 

syntax:
@media (condition)
{
 css code
}

use to make website good on every devices
*/

@media (width:200px)  /* when exact 200 width of device then change the box color */
{
  div {background-color: yellow;}
}

@media (min-width:300px)  /* more than 300 width box-color change */
{
   div{ background-color: red;}
}

@media (max-width: 180px) /* less than 180 color will change */
{
    div{background-color: blueviolet;}
}

@media(min-width:350px)and (max-width:500px)  /* range */
{
    div{background-color: aquamarine;}
}